.product-filter {
  padding-left: 20px;
  padding-bottom: 30px;
  .single-filter {
    margin: 0 10px;
  }
}

.product {
  background-color: $white;
  margin-bottom: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16);

  @media (min-width: 768px) {
    min-height: 460px;
  }
  .product-top {
    img {
      width: 100%;
    }
  }

  .product-bottom {
    padding: 27px 20px 37px;
    .product-headline {
      margin: 0;
      font-size: 21px;
      font-weight: bold;
    }
    .product-description {
      p {
        padding: 22px 0;
        margin: 0;
      }
    }
  }
}